*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background: rgb(132, 14, 3);
    color: white;
    font-family: sans-serif;
}
header{
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 15px 12;
    box-shadow:10px  4px 6px rgba(109, 2, 1.1);
    width: 90%;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10px;

}
.menu{
    display: flex;
    gap: 10px;
    margin-right: 100px;
}
.logmenu {
    margin-right: auto;
    margin-left: 10px;
    padding: 10px;
}